@{
    ViewBag.Title = Resources.GlobalRes.ConfirmEmail;
}
<h2 class="margin-top">@Resources.GlobalRes.ConfirmationEmailSent</h2>
<p class="margin-top">@Resources.GlobalRes.CheckEmail</p>
<p>@Resources.GlobalRes.CheckSpam</p>