@{
    ViewBag.Title = Resources.GlobalRes.ForgotPwdConfirmation;
}

<hgroup class="title">
    <h1 class="margin-top">@ViewBag.Title</h1>
</hgroup>
<div>
    <p>@Resources.GlobalRes.CheckEmailReset</p>
    <p>@Resources.GlobalRes.CheckSpam</p>
</div>
	
