@{
    ViewBag.Title = Resources.GlobalRes.ResetPwdConfirmation;
}

<hgroup class="title">
    <h1 class="margin-top">@ViewBag.Title</h1>
</hgroup>
<div>
    <p class="margin-top">
        @Resources.GlobalRes.PasswordReset @Html.ActionLink(Resources.GlobalRes.ClickToLogin, 
          "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
