@model VideoSharingService.Models.IndexViewModel
@{
    ViewBag.Title = Resources.GlobalRes.PasswordChanging;
}

<h2 class="margin-top">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="empty-block"></div>