@{
    ViewBag.Title = Resources.GlobalRes.AboutSystem;
}

<div class="container">
    <h2 class="margin-top">@ViewBag.Title</h2>

    <h5 class="margin-top">@Resources.GlobalRes.AboutSystemParagraph</h5>
</div>